@import "../_theme/Vars.scss";

.root {
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.titleBar {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $background_solidBackground_base;
    -webkit-app-region: drag;
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.titleBarOverlayMode {
    background: transparent;
    -webkit-app-region: no-drag;
    pointer-events: none;
}

.body {
    height: calc(100vh - 32px);
    position: absolute;
    top: 32px;
    left: 0;
    width: 100vw;
    background: $background_solidBackground_tertiary;
    padding: 0;
    margin: 0;
}

.bodyNoTitleBarSpace {
    height: 100vh;
    top: 0;
}

.titleBarTitleArea {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    height: 100%;
    align-items: center;
    user-select: none;
}

.titleBarTitleAreaIcon {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
    }
}

.titleBarTitleAreaText {
    color: $fill_text_secondary;
    font-family: "Segoe UI";
    font-size: 12px;
    margin-left: 10px;
}

.titleBarTitleAreaSuffix {
    margin-left: 10px;
    color: $fill_text_disabled;
    font-size: 11px;
}

.titleBarButtonArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-right: -10px;

    button {
        -webkit-app-region: no-drag;
        height: 100%;
        width: 48px;
        border: none;
        background: $fill_subtle_transparent;
        color: $fill_text_primary;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        pointer-events: all;
        
        &:hover {
            background: $fill_subtle_secondary;

            &:active {
                background: $fill_subtle_tertiary;
            }
        }
    }
}

.titleBarButtonAreaClose {
    &:hover {
        background: #C4314B !important;

        &:active {
            background: #82192B !important;
        }
    }
}

.titleBarButtonAreaMinimizeIcon {
    font-size: 17px;
}

.titleBarButtonAreaRestoreIcon {
    font-size: 16px;
}

.titleBarButtonAreaDismissIcon {
    font-size: 16px;
}

.titleBarButtonAreaMaximizeIcon {
    font-size: 16px;
}

.titleBarButtonAreaFullScreenMinimizeIcon {
    font-size: 17px;
}
