@import "../_theme/Vars.scss";

.root {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #2D2D2D;
}

.titleBar {
    background: $app_titleBar_background;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 22px;
    align-items: center;
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
}

.titleBarOverlayMode {
    background: transparent;
    -webkit-app-region: no-drag;
}

.titleBarTitleArea {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: calc(22px / 2);
    left: 50vw;
    transform: translate(-50%, -50%);
}

.titleBarTitleAreaIcon {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    img {
        width: 100%;
    } 
}

.titleBarTitleAreaText {
    color: $app_titleBar_textColor;
    font-size: 14px;
    font-family: "San Francisco";
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    user-select: none;

    span {
        margin-left: 10px;
        font-size: 11px;
        opacity: 0.5;
    }
}

.titleBarButtons {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    height: 100%;
    align-items: center;

    button {
        display: flex;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        border: none;
        background: #FF5A52;
        -webkit-app-region: no-drag;
        user-select: none;

        &:nth-child(2) {
            background: #E6C029;
        }

        &:nth-child(3) {
            background: #53C22B;
        }

        &:hover {
            outline: 2px solid rgba(255, 255, 255, 0.1);

            &:active {
                opacity: 0.8;
            }
        }
    }
}

.body {
    position: absolute;
    top: 22px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 22px);
}
